.datepicker {
    height: 369px !important;
    width: 320px !important;
}
.datepicker--nav-title {
    font-size: 19px;
    font-weight: bold;
}
.datepicker--day-name {
    color: #BC9CFF;
    font-size: 12px;
    font-weight: bold;
}
.datepicker--cell-day {
    font-family: 'Montserrat' sans-serif;
    font-size: 12px;
    color: #1F2041;
    opacity: 50%;
    > .-other-month- {
        opacity: 25%;
    }
}
.datepicker--content {
    padding-top: 30px;
}
.datepicker--button {
    color: #BC9CFF;
    font-family: 'Montserrat Bold' sans-serif;
    font-weight: bold;
    font-size: 12px;
}
// #datepickers-container .-selected- {
//     background: #EF984C;
//     color: #fff !important;
//  }#datepickers-container .-current- {
//     color: #EF984C;
//  }
//  #datepickers-container .datepicker--time-sliders > *:not(:first-child) {
//     margin-top: 9px;
//     margin-bottom: 6px;
//  }#datepickers-container .datepicker--time-sliders > *:first-child {
//     margin-top: 6px;
//  }
//  #datepickers-container input[type=range]::-webkit-slider-thumb {
//     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//     border: 0px;
//     height: 22px;
//     width: 22px;
//     border-radius: 5px;
//     background: #EF984Cee;
//     cursor: pointer;
//     -webkit-appearance: none;
//     margin-top: -11px;
//  }