mixin rate_button 
    .rating_group
        each item in [1,2,3,4,5]
            input.rating_input(type="checkbox", id="rating_input"+item, value=item)
            label.rating_label(for="rating_input"+item) 