//- mixin rate_button 
//-     - var x = 5
//-         - for (var i=1; i<=x; 1++) {
//-             img(src=require("/src/components/form_elements/rate_button/img/rate_button_star.svg"), alt="", srcset="")
//-         -}