
.rating_star {
    display: inline-flex;
    background-image: url("~img/rate_button_star.svg");
    background-size:  100%;
    background-repeat: no-repeat;
    border: none;
    //margin-right: 2px;
    width: 20px;
    height: 20px;
}
.unchecked_item {
    display: inline-flex;
    background-image: url("~img/rate_button_star_unchecked.svg");
    background-size:  100%;
    background-repeat: no-repeat;
    border: none;
    //margin-right: 2px;
    width: 20px;
    height: 20px;
}

