header
    .logo 
        img(src=require("/src/asserts/img/Logo.svg"))
    menu
        each menuItem, key in {1: "О нас", 2: "Услуги", 3: "Вакансии", 4: "Новости", 5: "Соглашения"}
            .header_item
                a.menu_item(class='menu_item'+key href="http://bbro.jj")= menuItem
                if key==2 
                    span.material-icons expand_more
                if key==5
                    span.material-icons expand_more
    .header_login_button 
        include ../../form_elements/buttons/buttons
        +button("ВОЙТИ", "no_bg")
    .header_sign_button
        +button("ЗАРЕГИСТРИРОВАТЬСЯ", "bg")

