@mixin form_style{
    font-family: 'Montserrat Bold' sans-serif;
    color: #1F2041;
    font-weight: bold;
} 
.guests_form_label {
    @include form_style;
    font-size: 12px;
}
.date_card {
    width: 380px;
    height: 374px;
    > .date_card_txt p {
        @include form_style;
        font-size: 24px;
        line-height: 29px;
    } 
}
.date_card_form {
    padding-top: 21px;
}
.date_input {
    display: flex;
    flex-direction: row;
}
.guests_input {
    @include form_style;
    float: none;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.date_card_button {
    text-align: center;
    height: 44px;
    width: 320px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: none;
    margin-top: 30.44px;
    > p {
        font-family: 'Montserrat' sans-serif;
        font-size: 12px;
        color: #ffffff;
        font-weight: 700;
        margin: 0;
    }
}

