@mixin form_style{
    font-family: 'Montserrat Bold';
    color: #1F2041;
    font-weight: bold;
} 
.date_form_label, .guests_form_label{
    @include form_style;
    font-size: 12px;
}
.date_card {
    width: 380px;
    height: 374px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
     .date_card_items {
        margin: 0 30px 30px 31px;
        padding-top: 41px;
        height: 305px;
        width: 320px;
     .date_card_txt {
        h1 {
            margin: 0;
            line-height: 30px;
        } 
    }
    .date_dropdown_label_input {
        margin-top: 19px;
    }
}
}
.date_card_button {
        margin-top: 31px;
    }
.dropdown_label_input  {
        margin-top: 20px;
    }

.date_card_form {
    padding-top: 21px;
}
.date_dropdown_input {
    padding: 0;
    margin-top: 5px;
} 
.date_input {
    display: flex;
    flex-direction: row;
}
.guests_input {
    @include form_style;
    float: none;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
