container.date_card
    .date_card_txt
        p Найдем номера под 
        p ваши пожелания
    mixin date_card_form(type)
        .date_card_form 
            form.date_form(action="")
                .date_input
                    .enter_date_input 
                        label.date_form_label(for="enter") ПРИБЫТИЕ
                        input.datepicker-here(type="text",   name="")
                    .output_date_input
                        label.date_form_label(for="outgo") ВЫЕЗД
                        input.datepicker-here(type="text", name="")
                .guests_input
                    label.guests_form_label(for="enter") ГОСТИ
                    input#guests(type="list", name="")
                    block
    mixin button(type)
        button.date_card_button(@click.prevent="onClick")
            if type == "selecting_room"
                p ПОДОБРАТЬ НОМЕР
            else if type == "booking_room"
                p ЗАБРОНИРОВАТЬ
            slot
    +date_card_form("selecting_room")
        +button("selecting_room")
