.checkout_card
    .checkout_card_items
        .checkout_number_price 
            .checkout_room_info
                p.number_symbol №
                p.number_of_room 888
                p.room_type люкс
            .checkout_room_price
                p.checkout_price 9 990₽
                p.time_of_booking в сутки
        include ../../form_elements/date_dropdown/date_dropdown         
        +date_dropdown("ВЬЕЗД","ВЫЕЗД", "ДД. ММ. ГГГГ.")
        include ../../form_elements/dropdown/dropdown 
        +dropdown("ГОСТИ", "Сколько гостей")
        .checkout_room_cost
            .cost_of_booking_time 
                p.checkout_description 9 990₽ х 4 суток
                p.checkout_cost 39 960₽
            .service_fee 
                p.checkout_description Сбор за услуги: скидка 2 179₽
                    span i 
                p.checkout_cost 0₽
            .additional_services
                p.checkout_description Сбор за дополнительные услуги
                    span i
                p.checkout_cost 300₽
            .checkout_total_cost 
                p.total_cost Итого
                .checkout_total_cost_line
                p.amount_total_cost 38 081₽
        .checkout_card_button
            include ../../form_elements/buttons/buttons        
            +button("ЗАБРОНИРОВАТЬ", "full")