container.checkout_card 
  .checkout_number_price 
    .checkout_room_info
      p.number_symbol №
      p.number_of_room 888
      p.room_type люкс
    .checkout_room_price
      p.checkout_price 9 990₽
      p.time_of_booking в сутки
  +date_card_form("booking_room")