@mixin checkout_txt_style {
    font-family: 'Montserrat' sans-serif;
    font-weight: bold;
}
@mixin checkout_room_cost_txt_style {
    font-family: 'Montserrat' sans-serif;
    color: #1F2041;
    opacity: 75%;
    font-size: 14px;
}
.checkout_card {
    width: 380px;
    height: 511px;
    > .dropdown_label_input {
        padding-top: 19px;
        padding-bottom: 20px;
    }
}
.checkout_number_price {
    >.checkout_room_info {
        display: inline-block;
    >p {
        @include checkout_txt_style();
        display: inline-block;
    }
}
    >.checkout_room_price{
        display: inline-block;
        padding-left: 110px;
        >p {
            @include checkout_txt_style();
            display: inline-block;
            opacity: 50%;
        }
    }
}
.number_symbol {
    font-size: 14px;
    color: #1F2041;
}
.number_of_room {
    font-size: 24px;
    color: #1F2041;
}
.room_type {
    color: #BC9CFF;
    font-size: 12px;
}
.checkout_price{
    font-size: 14px;
    color: #1F2041;
}
.time_of_booking {
    font-size: 12px;
    font-weight: normal;
}
.checkout_room_cost {
    width: 319px
}
.checkout_description {
    @include checkout_room_cost_txt_style;
    display: inline-block;
}
.checkout_cost {
    @include checkout_room_cost_txt_style;
    display: inline-block;
}
.total_cost {
    @include checkout_txt_style;
    font-size: 19px;
    color: #1F2041;
    display: inline-block;
}
.amount_total_cost {
    @include checkout_txt_style;
    font-size: 19px;
    color: #1F2041;
    display: inline-block;
}