.room_card {
    height: 279px;
    width: 257.5px;
    display: flex;
    flex-direction: column;
}
.room_info {
    display: flex;
    flex-direction: row;
}
.room_rating {
    display: flex;
    flex-direction: row;
}
