mixin room(room_number, room_type, room_price, room_comments_number)
    .room_card
        .room_photos

        .room_info 
            p.symbol №
            p.room_number=room_number 
            p.room_type=room_type
            p.room_price=room_price 
            p в сутки
        .room_rating

            p.room_comments_number=room_comments_number
            p.room_comments Отзывов