@mixin label {
    font-family: 'Montserrat';
    font-size: 14px;
    border-color: #1f2041;
    opacity: 50%;
}
.radio_input {
    display: none;
}
.radio_label {
    @include label;
    line-height: 24px;
}
.radio_input:checked + .radio_label {
    opacity: 75%;
}
.radio_label::before {
    content: '';
    display: inline-flex;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
    width: 19px;
    height: 19px;
    margin-right: 9.74px;

}
.radio_input:checked  + .radio_label::before {
    content: '';
    border: 3px solid #fff;
    outline: 1px solid #bc9cff;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    margin-right: 9.74px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-repeat: no-repeat;
    background-position: center;
}