mixin radio_button (type, label)
    .radio
        input.radio_input#woman(type="radio", onMouseDown="this.isChecked=this.checked; " onClick="this.checked=!this.isChecked; " name="")
        label.radio_label(for="woman")= label