mixin radio_button (type, label, value)
    .radio
        input.radio_input(type="radio", onMouseDown="this.isChecked=this.checked; " onClick="this.checked=!this.isChecked; " value=value name="" id=type)
        label.radio_label(for=type)= label