@mixin form_highlight_style{
    font-family: 'Montserrat Bold' sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
} 
.registration_card {
    width: 380px;
    height: 646px; 
    > .registration_card_items {
        height: 576;
        width: 320px;
    }
}
h1 {
    @include form_highlight_style()
}
.registration_card_radio {
    display: flex;
    flex-direction: row;
}

.registration_card_toogle {
    display: flex;
    flex-direction: row;
    width: 260px;
    height: 24px;
    > label {
        float: left;
        font-family: 'Montserrat' sans-serif;
        color: rgba(31, 32, 65, 0.75);
        font-size: 14px;
        line-height: 24px;
    }
}