.like_button {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    background: none;
    background-image: url(~icons/unlike_icon.svg);
    // content: '<span class="material-icons">favorite</span>';
    background-size: 10px 8px;
    background-repeat: no-repeat;
    background-position: top 5px left 5px;
    font-family: 'Montserrat';
    font-size: 10px;
    color: rgba(31, 32, 65, 0.25);
    padding-left: 18px;
}
.like_button:hover {
    border: 1px solid #BC9CFF;
    background-image: url(~icons/like_icon.svg);
    background-repeat: no-repeat;
    background-size: 10px 8px;
    color: #BC9CFF;
}
.like_button:focus {
    border: 1px solid #BC9CFF;
    background-image: url(~icons/like_icon.svg);
    background-repeat: no-repeat;
    background-size: 10px 8px;
    color: #BC9CFF;
}