mixin button(type)
        button.date_card_button(@click.prevent="onClick")
            if type == "selecting_room"
                p ПОДОБРАТЬ НОМЕР
            else if type == "booking_room"
                p ЗАБРОНИРОВАТЬ
            slot