doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style 
            include ../../node_modules/air-datepicker/dist/css/datepicker.min.css
            include ../asserts/nslider-main/css/nslider.min.css
            include ../asserts/dropdownplugin/numbercategoryselector.css
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
        script(src='../../node_modules/air-datepicker/dist/js/datepicker.js')
        script(src="../src/asserts/nslider-main/js/nslider.js") 

    body 
        include ../components/cards/date/date_card
        include ../components/cards/checkout/checkout_card
        include ../components/cards/login/login_card
        include ../components/cards/registration/registration_card
        include ../components/cards/room/room_card.pug
        +room('888', 'люкс','9 990Р', '145')




