doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style 
            include ../../node_modules/air-datepicker/dist/css/datepicker.min.css
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
        script(src='../../node_modules/air-datepicker/dist/js/datepicker.min.js')
    body 
        include ../components/cards/date/date_card
        include ../components/form_elements/date_dropdown/date_dropdown         
        +date_dropdown("ВЬЕЗД","ВЫЕЗД")
        include ../components/form_elements/buttons/buttons        
        +button("ПОДОБРАТЬ НОМЕР", "full")

        include ../components/cards/checkout/checkout_card
        include ../components/form_elements/date_dropdown/date_dropdown
