doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        include ../components/form_elements/txt_field/txt_field.pug
        +txt_field("TEXT FIELD", "Email")
        include ../components/form_elements/dropdown/dropdown.pug
        +dropdown("DROPDOWN", "Сколько гостей")
        include ../components/form_elements/masked_text_field/masked_text_field.pug
        +masked_txt_field("MASKED TEXT FIELD", "ДД. ММ. ГГ.")
        include ../components/form_elements/date_dropdown/date_dropdown.pug
        +date_dropdown("DATE DROPDOWN", "DATE DROPDOWN")