doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style 
            include ../asserts/dropdownplugin/numbercategoryselector.css
            include ../../node_modules/air-datepicker/dist/css/datepicker.min.css
            include ../asserts/checkbox_plugin/css/canecode_switch.css
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
        script(src='../../node_modules/air-datepicker/dist/js/datepicker.min.js')
        script(src="../../dist/scripts.js") 
        script(src="//code.jquery.com/jquery.min.js")
        script(src="../../asserts/dropdownplugin/numbercategoryselector.js")
        script(src="../../asserts/chgeckbox_plugin/js/canecode_switch.js")  
    body 
        form(action="") 
            include ../components/form_elements/txt_field/txt_field.pug
            +txt_field("TEXT FIELD", "Email")
            include ../components/form_elements/dropdown/dropdown.pug
            +dropdown("DROPDOWN", "Сколько гостей")
            include ../components/form_elements/masked_text_field/masked_text_field.pug
            +masked_txt_field("MASKED TEXT FIELD", "ДД. ММ. ГГ.")
            include ../components/form_elements/date_dropdown/date_dropdown.pug
            +date_dropdown("DATE DROPDOWN", "DATE DROPDOWN")
            include ../components/form_elements/buttons/buttons.pug
            +button("CLICK ME", "full")
            +button("CLICK ME", "bg")
            +button("CLICK ME", "no_bg")
            include ../components/form_elements/checkbox/checkbox.pug
            +checkbox("Можно курить", "smoking") 
            include ../components/form_elements/radio_button/radio_button.pug
            form
                +radio_button("woman", "Женщина")
                +radio_button("male", "Мужчина")
            include ../components/form_elements/toogle/toogle.pug
            +toogle()


