mixin dropdown(dropdown_label, dropdown_placeholder)
  .dropdown_label_input  
    label.dropdown_label(for="")= dropdown_label
    input.dropdown_input(type="select" placeholder= dropdown_placeholder)