@import "../txt_field/txt_field.scss";

.dropdown_label_input  {
    @include label_input_style;
    height: 64.44px;
    span {
        position: relative;
        z-index: 2;
        line-height: 24px;
        font-size: 24px;
        width: 44px;
        height: 44px;
        color: rgba(31, 32, 65, 0.5);
        left: 290px;
        bottom: 36px;
    }
}
.dropdown_input {
    @include input_style;
    margin-top: 4px;
    position: relative;
    min-height: 44px;
}
.dropdown_label {
    @include input_text_style();
    font-weight: bold;
    font-size: 12px;

}
.dropdown_input:focus::-webkit-input-placeholder {
    color: rgba(31, 32, 65);
}
.dropdown_input::placeholder {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 14px;
}

div.NCS.category {
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0;
    height: 30px;
    margin-bottom: 1px;
    margin-top: 6px
}
div.NCS.name {
    @include input_text_style;
    font-weight: bold;
    font-size: 12px;
}
div.NCS.parent {
    width: 320px;
    height: 159px;
    border: none;
    padding: 0;
    text-align: justify;
}
a.NCS.close {
    font-family: 'Montserrat Bold';
    font-size: 12px;
    color: #bc9cff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 143px;
    float: left;
}
div.NCS.buttons {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 7px;
}
a.NCS.button.minus {
    height: 30px;
    width: 30px;
    background:none;
    border: 1px solid #1f2041;
    color: #1f2041;
    opacity:25%;
    border-radius: 50%;

}
a.NCS.button.plus {
    height: 30px;
    width: 30px;
    background:none;
    border: 1px solid #1f2041;
    color: #1f2041;
    opacity: 50%;
    border-radius: 50%;
}
div.NCS.text {
    height: 15px;
    padding-top: 8px;
    padding-bottom: 10px;
    margin-left: 15px;
}
div.NCS.value {
    height: 15px;
    padding-top: 8px;
    padding-bottom: 10px;
    margin-right: 13px;
    margin-left: 13px;
}
div.NCS.name, a.NCS.close, div.NCS.value {
    font-family: 'Montserrat Bold';
}

.clear_button {
    border: none;
    background: none;
    font-family: 'Montserrat Bold';
    font-size: 12px;
    color: #bc9cff;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    float: left;
}
