.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.checkbox_input {
    display: none;
}
.checkbox_label {
    padding-left: 10px;
}
.checkbox_label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #1f2041;;
    border-radius: 3px;
    border-width: 1px;
    opacity: 25%;
}
.checkbox_input:checked  + .checkbox_label::before {
    content: '';
    border: 1px solid #BC9CFF;
    height: 20px;
    width: 20px;
    background-image: url("check_mark.svg");
    background-size: 50%;
    opacity: 1;
}

.checkbox_label {
    font-family: 'Montserrat' sans-serif;
    font-size: 14px;
    line-height: 18px;
    border-color: #1f2041;
    opacity: 50%;
    margin-left: 10px;
}