.toogle_label {
    font-family: 'Montserrat' sans-serif;
    font-size: 12px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    display:inline-flex;
}
input[type=checkbox].toogle {
    display: none;
}
input[type=checkbox].toogle + label.toogle_label{
    display: inline-block;
    height: 20px;
    width: 40px;
    position: relative;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 30px;
}
input[type=checkbox].toogle + label.toogle_label::before{
    position: absolute;
    top: 3px;
    height: 12px;
    width: 12px;
    content: '';
    transition: all 0.3s ease;
    border-radius: 50%;
}
input[type=checkbox].toogle:not(:checked) + label{
    background-color: transparent;
}
input[type=checkbox].toogle:not(:checked) + label::before {
    left: 4px;
    background-color: rgba(31, 32, 65, 0.25);

}
input[type=checkbox].toogle:checked + label {
    border: 1px solid #BC9CFF;

}
input[type=checkbox].toogle:checked + label::before {
    left: 23px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}