mixin toogle
   input.toogle(type="checkbox", id="default")
   label.toogle_label(for="default" data-checked="Checked" data-unchecked="Unchecked") 
   input.toogle(type="checkbox", id="rounded")
   label.toogle_label(for="rounded" data-checked="Checked" data-unchecked="Unchecked") 
   