@mixin font_style {
    font-family: 'Montserrat Bold';
    color: rgba(31, 32, 65, 0.75);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
@mixin highlight_style {
    font-family: 'Montserrat Bold';
    font-size: 19px;
    font-weight: bold;
    color: #1f2041;
    line-height: 23px;
}
body {
    margin: 0;
}
.content {
    display: flex;
    flex-direction: column;
}
.room_detailes_content {
    display: flex;
    flex-direction: column;
}
.room_detailes_images {
    float: left;
}
.small_room_img {
    display: flex;
    flex-direction: column;
    float: left;
}
img.bg_1 {
    width: 981px;
    height: 485px;
    float: left;
}
img.bg_3 {
    width: 459px;
    height: 242px;
    
}
h2 {
    @include highlight_style()
}
.room_detailes_info {
    flex-direction: row;
    height: 273px;
}
.room_detailes_row {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.room_detailes_room_info{
    width: 291px;
    height: 273px;
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 139px;
    img {
        padding-top: 4px;
        float: left;
    }
    .room_info_txt {
    float: left;
    padding-left: 14px;
    p.room_info_high {
        @include font_style();
        font-weight: bold;
    }
    p.room_info_description{
        @include font_style()
    }
}
}
.room_detailes_impressions {
    float: left;
    width: 311px;
    height: 273px;
}
.room_detailes_impressions_diagram {
    float: left;
    width: 120px;
    height: 121px;
}
.room_detailes_impressions_list {
    float: left;
}
ul {
    list-style: none;
    @include font_style()
}
 ul li::before {
    content: ' ';
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
 }
  ul li.li_item1::before {
    background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
  }
  ul li.li_item2::before {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }
  ul li.li_item3::before {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
  ul li.li_item4::before {
    background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
  }

  .room_detailes_card {
    //float: left;
    margin-left: 60px;
  }
.room_detailes_comments {
    float: none;
    width: 712px;
    height: 306px;
    margin-left: 139px;
    flex-direction: column;
}
p.comments {
    @include highlight_style();
    //float: left;
}
.user {
    // width: 220.45px;
    // height: 48px;
    display: flex;
    flex-direction: row;
}
.user_info {
    flex-direction: column;
}
.user_name{
    @include font_style();
    font-weight: bold;
}
.user_time {
    @include font_style();
}
.comment {
    width: 712px;
    height: 72px;
    display: flex;
    flex-direction: row;
}
.comment_text {
    margin: 0;
    @include font_style();
}
.room_detailes_rules {
    margin-left: 139px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.room_detailes_rules_cancel {
    margin-left: 100px;
    p {
    @include font_style();
    }
}
ul.rules {
    padding: 0;
}
ul li.rule::before {
    background: rgba(31, 32, 65, 0.25);
}
