@mixin form_style{
    font-family: 'Montserrat Bold' sans-serif;
    color: #1F2041;
    font-weight: bold;
    font-size: 24px;
}

.login_card {
    width: 380px;
    height: 358px;
    margin-top: 50px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    > .login_card_items{
        min-height: 286px;
        min-width: 319px;
        padding: 40px 30px 20px 31px;
    > p {
        @include form_style();
        margin-top: 0;
    }
}
}
.login_button {
    padding-top: 20px;
}
.login_card_registration {
    display: inline-flex;
    padding-top: 30px;
    > p {
        font-family: 'Montserrat' sans-serif;
        color: #1F2041;
        font-size: 14px;
    }
    > .login_card_button {
        padding-left: 54px;
    }
}