mixin masked_txt_field (masked_label, masked_placeholder)
    .masked_txt_field_input_label
        label.masked_txt_field_label(for="")= masked_label
        input.masked_txt_field_input(type="text" placeholder=masked_placeholder)
