mixin button(button_text, type)
        button.button(class = type + "_button")(@click.prevent="onClick")
            p.button_text=button_text
            if type == "full"
                span.material-icons="arrow_forward"