@mixin button {
    text-align: center;
    height: 44px; 
    border-radius: 22px;
    > p {
        font-family: 'Montserrat' sans-serif;
        font-size: 12px;
        font-weight: 700;
        margin: 0;
        max-width: 132px;
        position: relative;
    } 
}
@mixin bg_button {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border: none;
    > p {
        color: #ffffff;
    }
    
}
.full_button {
    @include button();
    @include bg_button();
    width: 320px;
    align-items: center;
    position: relative;
    z-index: 1;
    > p {
        display: inline-block;
    }
}
.full_button:hover {
    opacity: 0.5;
}
.arrow {
    z-index: 2;
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding-left: 58px / 320px * 100%;
}
.bg_button {
    @include button();
    @include bg_button();
    width: 99px;
}
.bg_button:hover {
    opacity: 0.5;
}
.no_bg_button {
    @include button();
    background:#ffffff;
    width: 99px;
    color: #BC9CFF;
    border:3px solid transparent;
    border-radius:22px;
    border-width: 2px;
    background:
        url(http://hexcolor16.com/ffffff-200x200.png) padding-box fixed,
        linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1)) border-box;
}
.no_bg_button:hover {
    
    background:
        url(http://hexcolor16.com/ffffff-200x200.png) padding-box fixed,
        linear-gradient(rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5)) border-box;
        
}